.header {
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: midnightblue;
	padding: 12px;
	text-align: center;
}

.footer{
	font-size: 5px;
	font-family: 'Courier New', Courier, monospace;
	color: black ;
	text-align: center;
	padding-top: 20px;
}

.content{
	/* width: 800px;
	height: 500px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.card{
	width: 350px;
	padding: 20px;
	color:blue;
	background-color: aliceblue;
}